body {
  background-color: #d58df7;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  color: #08010c;
}

select, input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  min-width: 150px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #b05bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#inverter {
  background-color: #b05bff;
  color: #000500;
  border: 1px solid #f9fcf9;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}

.linha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.conversor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#saida {
  background-color: #b05bff;
  color: rgb(8, 0, 0);
}
